body {
	background: #edfeff;
	font-family: "Maven Pro";
}

a { color: #008e96; }
a:hover { color: #005c61; }

p { font-size: 1.8em; }

.container { text-align: center; }
ul { text-align: left; }

div.code { padding: 0; }
code, pre { text-align: left; }
code.terminal { background: #272822; color: #f8f8f2; }
code.terminal:before { content: '>'; color: #666; }
pre.csx { background: #eee; color: #002527; }
pre[class*=language-] { margin: 0; }
pre[class*=language-]>code[data-language]::before { display: none; }

.null {
	margin: 0;
	padding: 0;
	background: transparent;
}

h1 { margin-bottom: 1em; }

@media (max-width: 640px) {
	code { font-size: 0.6em; }
}

/******************************** Page Sections *************************************/

#about-pvc {
	padding-top: 4%;
	padding-bottom: 3%;
}

#features {
	padding-top: 3%;
	padding-bottom: 4%;
}

#scriptcs, #plugins, #getting-started, #scaffolding, #build-a-plugin {
	padding-top: 4%;
	padding-bottom: 4%;
}

#contributors {
	padding-top: 10px;
	padding-bottom: 25px;
}

#getting-started, #plugins, #build-a-plugin {
	background: #fdffff;
}

#footer {
	padding-top: 3%;
	padding-bottom: 3%;
	background: #002527;
}

/******************************** Header ********************************************/

.navbar {
	z-index: 1;
	-webkit-transform: translate3d(0,0,0);
}

.navbar-brand img {
	width: 50px;
	margin-top: -7px;
}

.navbar-default .navbar-icons > li > a {
	padding-right: 30px;
	padding-left: 4px;
}

@media (min-width: 920px) {
	.navbar-default .navbar-icons > li > a.icon-link {
		padding: 10px 0 0;
		position: relative;
		line-height: 32px;
		padding-right: 10px;
	}

	.navbar-default .navbar-icons > li > a.icon-link > span {
		vertical-align: top !important;
	}

	.navbar-default .navbar-icons > li > a.icon-link > i {
		font-size: 32px !important;
		color: #00484d;
	}
}

@media (min-width: 768px) and (max-width: 890px) {
	.navbar-default .navbar-icons > li > a.icon-link span {
		display: none !important;
	}
}

@media (max-width: 768px){
	.navbar-default .navbar-icons > li > span.connect-text {
		display: block !important;
	}
}

.navbar-collapse {
	max-height: 414px;
}

.navbar-default .navbar-icons > li > a.icon-link > i {
	font-size: 16px;
	padding-left: 5px;
}

.navbar-default .navbar-icons > li > a.icon-link {
	vertical-align: bottom;
}

.navbar-default .navbar-icons > li > span.connect-text {
	padding-left: 10px;
	padding-top: 10px;
	display: none;
	font-weight: bold;
}

.icon-link-github {
	margin-right: 4px;
}

.jumbotron {
	position: relative;
	text-align: center;

	background: #002527; /* Old browsers */
	background: -moz-linear-gradient(top,  #003235 0%, #002c2d 44%, #002527 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003235), color-stop(44%,#002c2d), color-stop(100%,#002527)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #003235 0%,#002c2d 44%,#002527 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #003235 0%,#002c2d 44%,#002527 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #003235 0%,#002c2d 44%,#002527 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #003235 0%,#002c2d 44%,#002527 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003235', endColorstr='#002527',GradientType=0 ); /* IE6-9 */

	z-index: 2;
	/* Fix z-index in Webkit */
	-webkit-transform: translate3d(0,0,0);
}

.jumbotron img {
	max-width: 75%;
}

@media only screen and (max-width: 980px) {
	.navbar-nav>li>a { padding-right: 10px; padding-left: 10px; }
	.navbar-default .navbar-icons > li > a.icon-text { display: none; }
	.navbar-default .navbar-icons > li > a.icon-link { padding-right: 10px; }
}

/******************************** Features section **********************************/

#features .feature-icon {
	font-size: 64px;
	color: #00484d;
}

#features .row > div {
	padding-top: 30px;
}

/******************************** Plugins section ***********************************/

.plugin-listing {
	text-align: left;
}

.plugin-listing .table > thead > tr > th {
	text-align: center;
	font-size: 1.4em;
	padding: 20px;
}

.plugin-listing table {
	font-size: 1.2em;
}

@media (max-width: 640px) {
	.plugin-listing table { font-size: 0.8em; }
}

/******************************** Contributors section ******************************/

#pipemaster .media-body h4 { font-size: 1.8em; }
#pipemaster .media-body p { font-size: 1.2em; }
#pipemaster img { width: 96px; border: 8px #00b7c2 solid; border-radius: 8px; }
.contributors img { width: 64px; border: 6px #00b7c2 solid; border-radius: 6px; }
.contributors { text-align: left; }
.contributors .media { padding: 20px; }
.media-body { text-align: left; }
.media-body h4 { font-size: 1.4em; }
.media-body p { font-size: 1.0em; }
.media-body ul { list-style-type: none; }

#contributors { background: #c3fcff; width:100%; }

ul.contributor-list {
	list-style-type: none;
	position: relative;
	text-align: center;
	padding: 0;
}

ul.contributor-list li {
	display: inline-block;
	text-align: center;
	padding-right: 5px;
}

ul.contributor-list .media-object {
	margin: 0 auto;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
}

ul.contributor-list .media-object {
	max-width: 35px;
}

/******************************** Footer ********************************************/

#footer {
	color: #00484d;
}

#footer .credits {
	text-align: left;
}

#footer .credits img {
	opacity: .25;
	width: 128px;
}

#footer .copyright {
	text-align: right;
}

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=clike+csharp */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0 0 20px 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
	color: #f92672;
}

.token.boolean,
.token.number{
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #a6e22e;
}


.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value
{
	color: #e6db74;
}


.token.keyword{
color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

/* end of prism.js CSS */


