.jumbotron .plus {
	font-size: 48px;
	color: #fff;
}

h2 {
	color: #eee;
	font-size: 36px;
}

h2 strong {
	color: #FF7073;
}

.red {
	color: #FF7073;
}

.blue {
	color: #00b1d9;
}

html {
	overflow-x: hidden;
}

@media (max-width: 580px) {
	.jumbotron a {
		display: block;
	}

	.jumbotron h1 > img {
		margin-top: 25px;
		padding-bottom: 25px;
	}
}